<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>KingOfLab</display-name>
   <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.cookies.CookieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/cookies.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MaintainSession</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.sessionmanager.MaintainSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintainSession</servlet-name>
    <url-pattern>/keepsession.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCategoryListServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.GetCategoryListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCategoryListServlet</servlet-name>
    <url-pattern>/queryCategory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProductListServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.GetProductListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductListServlet</servlet-name>
    <url-pattern>/getProductlist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProductDetailsServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.GetProductDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductDetailsServlet</servlet-name>
    <url-pattern>/getDetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.cookies.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/addtocart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveCartItemServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.cookies.RemoveCartItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCartItemServlet</servlet-name>
    <url-pattern>/deleteCartItems.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyQuantityServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.cookies.ModifyQuantity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyQuantityServlet</servlet-name>
    <url-pattern>/changeCartItems.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetShippingMethodServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.GetShippingMethodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShippingMethodServlet</servlet-name>
    <url-pattern>/shipping.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPriceDetailsServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.GetPriceDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPriceDetailsServlet</servlet-name>
    <url-pattern>/pricedetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>VerifySession</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.sessionmanager.VerifySession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifySession</servlet-name>
    <url-pattern>/verifysession.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.AddressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/createaddress.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UpdateAddressServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.UpdateAddressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddressServlet</servlet-name>
    <url-pattern>/updateorder.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>GetAddressServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.GetAddressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAddressServlet</servlet-name>
    <url-pattern>/getaddressbyuserid.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.BillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/createbilladdress.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UpdateBillAddressServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.UpdateBillAddressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBillAddressServlet</servlet-name>
    <url-pattern>/updatebilladdress.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>GetAddressKeyServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.GetAddressKeyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAddressKeyServlet</servlet-name>
    <url-pattern>/getaddr.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ConfirmAddressServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.ConfirmAddressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmAddressServlet</servlet-name>
    <url-pattern>/getaddresstoconfirm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditAddressServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.EditAddressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAddressServlet</servlet-name>
    <url-pattern>/editaddress.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditBillAddressServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.EditBillAddressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBillAddressServlet</servlet-name>
    <url-pattern>/editbilladdress.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerfyCreditServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.controllers.VerifyCreditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerfyCreditServlet</servlet-name>
    <url-pattern>/verifycredit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuerySessionServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.sessionmanager.QuerySessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerySessionServlet</servlet-name>
    <url-pattern>/querytosession.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DetailSessionServlet</servlet-name>
    <servlet-class>edu.carleton.comp.cdstore.sessionmanager.DetailSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailSessionServlet</servlet-name>
    <url-pattern>/detailtosession.do</url-pattern>
  </servlet-mapping>
   <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
<filter>
<filter-name>SessionFilter</filter-name>
<filter-class>edu.carleton.comp.cdstore.sessionmanager.SessionFilter</filter-class>
<init-param>
      <param-name>includeStrings</param-name>
      <param-value>confirmaddress.html;payment.html;successpay.html;unsuccesspay.html</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>